<div class= "side-bar-header">
  <div class="header-name">
    <a href="#">大男</a>
  </div>
  <div class="create-room">
    <a href="#">チャット作成</a>
  </div>
</div>

<div class= "rooms">
  <div class="room">
      <div class= "room-name">
        <a href="#">部屋１号</a>
      </div>
  </div>

  <div class="room">
      <div class= "room-name">
        <a href="#">部屋2号</a>
      </div>
  </div>
</div>

